<div  class="container">
  <% @events.each do |event| %>
      <li class="list-group-item">
        <%= event.name %>
        <%= link_to '<button class="btn btn-warning">Edit</button>'.html_safe, edit_event_path(event) %>
        <%= link_to '<button class="btn btn-danger">Delete</button>'.html_safe, event_path(event), method: :delete %>
      </li>
  <% end %>
</div>

