<!--<div id="eventsSlider" class="carousel slide" data-ride="carousel">-->

  <!--&lt;!&ndash; Indicators &ndash;&gt;-->
  <!--<ol class="carousel-indicators">-->
    <!--<% @last_events.size.times do |i| %>-->
        <!--<li data-target="#eventsSlider" data-slide-to="<%= i %>"-->
            <!--<% if i == 0 %>-->
            <!--class="active"-->
            <!--<% end %>-->
            <!--&gt;-->
        <!--</li>-->
    <!--<% end %>-->
  <!--</ol>-->

  <!--&lt;!&ndash; Wrapper for slides &ndash;&gt;-->
  <!--<div class="carousel-inner">-->

    <!--<% @last_events.each do |event| %>-->

        <!--<div-->
        <!--<% if @last_events[0] == event %>-->
          <!--class="item active"-->
        <!--<% else %>-->
          <!--class="item"-->
        <!--<% end %>-->
        <!--&gt;-->
          <!--<img src="/images/kohaku.png" alt="<%= event.name %>" style="width:100%;">-->
        <!--</div>-->
    <!--<% end %>-->
  <!--</div>-->

  <!--&lt;!&ndash; Left and right controls &ndash;&gt;-->
  <!--<a class="left carousel-control" href="#eventsSlider" data-slide="prev">-->
    <!--<span class="glyphicon glyphicon-chevron-left"></span>-->
    <!--<span class="sr-only">Previous</span>-->
  <!--</a>-->
  <!--<a class="right carousel-control" href="#eventsSlider" data-slide="next">-->
    <!--<span class="glyphicon glyphicon-chevron-right"></span>-->
    <!--<span class="sr-only">Next</span>-->
  <!--</a>-->
<!--</div>-->


<div class="container">
  <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner">

      <div class="item active">
        <img src="/images/esf.jpg" alt="End Summer Fest" style="width:100%;">
        <div class="carousel-caption">
          <h3>End Summer Fest</h3>
        </div>
      </div>

      <div class="item">
        <img src="/images/parete.jpg" alt="3d Climbing" style="width:100%;">
        <div class="carousel-caption">
          <h3>3d Climbing</h3>
        </div>
      </div>

      <div class="item">
        <img src="images/sk8.jpg" alt="Skateboarding" style="width:100%;">
        <div class="carousel-caption">
          <h3>SkateBoarding</h3>
        </div>
      </div>

    </div>

    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>
