
<div>
L'associazione Terven nasce nel lontano 2005 a Castronno (VA), il nostro scopo è quello di creare occasioni di aggregazione promuovendo attività di
vario genere durante l'anno. Una forte impronta underground ha da sempre contraddistinto gli eventi di tipo sportivo e musicale da noi organizzati,
eventi che nel corso degli anni hanno raggiunto importanza a livello non solo provinciale.

Se pensi che questo progetto possa interessarti, se vuoi proporci qualche tua idea o se semplicemente hai voglia di passare del tempo in compaginia,
iscriviti e unisciti alla famiglia un po' allargata Terven!
e. Per ulteriori informazioni, contattaci via mail o tramite facebook.
</div>